/** COLOR SET **/

:root {
  --white: #fff;
  --semi-white: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --semi-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

.semi-white  {
  background-color: var(--semi-white);
}

.dark {
  color: var(--dark);
}

.main-color {
  color: var(--main-color);
}

/** FONTS **/

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Neucha Regular";
  src: url("../fonts/Neucha-Regular.ttf");
}

/** MAIN STYLE **/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.h-font {
  font-family: "Neucha Regular", sans-serif;
}

.lh-12 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
  font-weight: normal;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.background-image {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--semi-white);

  z-index: -2;
}

.background::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/background.png);

  opacity: 0.1;

  overflow: hidden;

  z-index: -3;
}

.content {
  position: relative;

  width: 1110px;

  margin: 100px auto;
}

.main-image {
  position: absolute;

  height: 525px;
  top: -45px;
  right: -270px;

  z-index: -1;
}

.text-block {
  display: flex;
  margin-top: 185px;
}

.col-1 {
  width: 50%;
  margin-right: 30px;
}

.col-2 {
  width: 50%;
}

.button {
  margin-top: 40px;
  padding: 12px 24px;

  display: inline-block;

  text-align: center;
  font-weight: bold;

  background-color: var(--main-color);
  color: #fff;
}